In [18]:
# A1
import pandas as pd
import numpy as np

df = pd.read_excel('/content/Lab Session Data.xlsx',sheet_name=0)
df.head()
print("Columns:")
print(df.columns.tolist())
X = df[['Candies (#)','Mangoes (Kg)','Milk Packets (#)']]
Y = df['Payment (Rs)']

def rankOfMatrix(X):
  rankOfMatrix = np.linalg.matrix_rank(X)
  return rankOfMatrix

def inverseOfMatrix(X):
  inverseOfMatrix = np.linalg.pinv(X)
  return inverseOfMatrix

def CostOfProduct(X,Y):
  X_inverse = inverseOfMatrix(X)
  costOfProduct = X_inverse @ Y
  return costOfProduct

rank = rankOfMatrix(X)
print("Rank of X:", rank)
CostOfProduct(X,Y)

cost = CostOfProduct(X,Y)
print("Cost of Product:", cost)


#A2

def add_purchaserBehavior(df, Y, cutoff, position=5):
    values = Y.apply(lambda i: 'Rich' if i > cutoff else 'Poor')
    df.insert(position, 'purchaserBehavior', values)
    return df

df = add_purchaserBehavior(df,Y,200,5)
df.head()


#A3

Columns:
['Customer', 'Candies (#)', 'Mangoes (Kg)', 'Milk Packets (#)', 'Payment (Rs)', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Candy', 'Mango', 'Milk']
Rank of X: 3
Cost of Product: [ 1. 55. 18.]

,Customer,Candies (#),Mangoes (Kg),Milk Packets (#),Payment (Rs),purchaserBehavior,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Candy,Mango,Milk
0,C_1,20,6,2,386,Rich,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,55.0,18.0
1,C_2,16,3,6,289,Rich,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C_3,27,6,2,393,Rich,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C_4,19,1,2,110,Poor,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,C_5,24,4,2,280,Rich,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN